<h3>Bestellingen</h3>


<% Order.all.each do |order| %>

	<ul class="list-group">
	<% group = Group.where(id: order.group_id).first %>

	<li class="list-group-item active">
		<%= group.name %> (tafel <%= group.table_number %>)
	</li>

	<% orders = OrderProduct.where(order_id: order.id) %>

	<% orders.each do |product_order| %>

		<% product = Product.where(id: product_order.product_id).first %>

		<li class="list-group-item">
			<%= product.name %> 
			<span class="label label-danger pull-right">€ <%= product_order.amount %></span>
		</li>

	<% end %>

	</ul>
<% end %>
