
<%= link_to  "Nieuwe categorie", new_category_path, class: "btn btn-primary pull-right" %>
<h3>Categorieen</h3>

<ul class="list-group">

	<% @categories.each do |category| %>
		<li class="list-group-item"><%= category.name %></li>
	<% end %>
</ul>
