
<%= link_to  "Nieuw product", new_product_path, class: "btn btn-primary pull-right" %>
<h3>Menu</h3>


<% @categories.each do |category| %>
	<ul class="list-group">
		<li class="list-group-item active"><%= category.name%></li>
		<% products = Product.where("category_id = ?", category) %>
		<% products.each do |product| %>
			<li class="list-group-item">
				<%= product.name %>
				<span class="label label-danger pull-right"> €<%= product.price %></span>
			</li>
		<% end %>
	</ul>

	<% end %>

